.Titulojuegosparaelhogar{
    position: absolute;
    width: 181px;
    height: 33px;
    left: 18px;
    top: 24px;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    
}
